
<%= render 'userinfo',users: @users %>
<%= render 'books/newbook', book: @book %>
<h1>Users</h1>


<% @users.each do |user| %>

<p>image</p>
<%= image_tag user.get_profile_image(100, 100) %>


<p>name</p>
<span><%= user.name %></span>


<% end %>

